<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div class="container">
    <!-- Page Content goes here -->

    <div id="app">
        <div class="row">
            <div class="col-md-12" v-once>
                <h1>Curso de Vue.js</h1>
            </div>
        </div>


        <div class="row">
            <form class="col-md-12">
                <div class="row">


                    {{ $data }}

                    <h4>¿Has trabajado con Vue.js?</h4>

                    <div class="radio">
                        <label>
                            <input v-model="vue.exp" type="radio" name="optionsRadios" id="optionsRadios1"
                                   v-bind:value=true
                                   checked>
                            Sí
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input v-model="vue.exp" type="radio" name="optionsRadios" id="optionsRadios2"
                                   v-bind:value=false>
                            No
                        </label>
                    </div>


                    <!--Si la respuesta es sí -->
                    <template v-if="vue.exp">
                        <form>
                            <div class="form-group">
                                <label for="years">Años de experiencia</label>
                                <input v-model="vue.years" type="number" class="form-control" id="years"
                                       placeholder="Años de experiencia">
                            </div>

                            <div v-if="vue.years < 2" class="form-group">
                                <label for="description">¿Qué te motivó a aprender?</label>
                                <input v-model="vue.description" type="text" class="form-control" id="description"
                                       placeholder="Explica tu motivación">
                                <p v-if="descriptionError != '' ">{{ descriptionError }}</p>
                            </div>

                            <div v-else-if="vue.years >= 2" class="form-group">
                                <label for="description">Cuéntanos tu experiencia</label>
                                <input v-model="vue.description" type="text" class="form-control" id="motivation"
                                       placeholder="Describe tu experiencia">
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </template>


                </div>
            </form>
        </div>

    </div>

</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://unpkg.com/vue"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            vue: {
                exp: null,
                years: 0,
                description: ''
            }

        },
        computed: {
            descriptionError: function () {
                var val = this.vue.description.trim();
                if (val == '') {
                    return 'Es Obligatorio'
                }
                if (val.length < 5) {
                    return 'El texto es menor a 5 caracteres'
                }
                if (val.length > 20) {
                    return 'El texto es mayor a 20 caracteres'
                }
            }

        }
    })
</script>
</body>


</html>
